{
	frankenphp
}

:8080 {
	root * /app/public
	encode zstd br gzip

	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
		Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
	}

	@options method OPTIONS
	respond @options 204

	php_server
}

